*.glo
*.log
*.aux
*.bcf
*.dvi
*.glg
*.gls
*.ist
*.lof
*.lot
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc
../.vscode/
RAPPORT.aux
RAPPORT.bcf
RAPPORT.dvi
RAPPORT.glg
RAPPORT.glo
RAPPORT.gls
RAPPORT.ist
RAPPORT.lof
RAPPORT.log
RAPPORT.lot
RAPPORT.out
RAPPORT.pdf
RAPPORT.run.xml
RAPPORT.synctex.gz
RAPPORT.toc
